* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0%;
}

body {
  height: 100vh;
  width: 100%;
}

.section {
  height: 100%;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.7))), url("https://images.pexels.com/photos/1518723/pexels-photo-1518723.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("https://images.pexels.com/photos/1518723/pexels-photo-1518723.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-size: cover;
}

.section:nth-of-type(2) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("https://images.pexels.com/photos/1266446/pexels-photo-1266446.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://images.pexels.com/photos/1266446/pexels-photo-1266446.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.section:nth-of-type(2) .textbox {
  top: 40%;
}

.section:nth-of-type(3) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.7))), url("https://images.pexels.com/photos/532263/pexels-photo-532263.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("https://images.pexels.com/photos/532263/pexels-photo-532263.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.section:nth-of-type(3) .textbox {
  top: 40%;
}

.section:nth-of-type(4) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("https://images.pexels.com/photos/3767837/pexels-photo-3767837.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://images.pexels.com/photos/3767837/pexels-photo-3767837.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.section:nth-of-type(4) .textbox {
  top: 40%;
}

.logo {
  font-family: serif;
  font-size: 1.7em;
}

.logo a {
  text-decoration: none;
  color: white;
}

header {
  z-index: 10;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em 4.5em;
  color: white;
}

li {
  font-family: sans-serif;
  list-style-type: none;
  display: inline;
  padding-left: 30px;
  text-transform: uppercase;
}

li a {
  text-decoration: none;
  padding: 0.7em 0.5em;
  font-size: 1em;
  color: white;
  cursor: pointer;
}

li a:hover {
  border-bottom: 2px solid white;
}

/* li:nth-of-type(5){
    border: 2px solid rgb(70, 104, 255);
    text-align: center;
    padding: 0.7em 2em;
    margin: 0.1em 1em;
    border-radius: 14px;
    
  }*/
.textbox {
  position: relative;
  top: 20%;
  margin: 0 7%;
  color: white;
}

h1 {
  font-family: serif;
  font-size: 12em;
  font-weight: 500;
}

h5 {
  font-family: sans-serif;
  font-size: 1.5em;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
}

.button {
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  background-color: #4668ff;
  border-radius: 16px;
  margin-top: 1.5em;
  padding: 0.7em 2em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  letter-spacing: 1px;
  font-weight: bold;
}
/*# sourceMappingURL=explore.css.map */