//@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
*{
    box-sizing: border-box;
    margin: 0;padding: 0;
}
body{
    //font-family: 'Nunito', sans-serif;
    min-height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url('https://images.pexels.com/photos/385998/pexels-photo-385998.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
}
.logo{
  font-family: serif;
  font-size: 1.7em;
  a{
      text-decoration: none;
      color: white;
  }
}
header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2em 4.5em;
    color: white;
}

li{
  font-family: sans-serif;
    list-style-type: none;
    display: inline;
    padding-left: 30px;
    text-transform: uppercase;
}
li a{
    text-decoration: none;
    padding: 0.7em 0.5em;
    font-size: 1em;
    color: white;
    cursor: pointer;
    &:hover{
        border-bottom: 2px solid white;
    }
}
li:nth-of-type(5){
  border: 2px solid rgb(70, 104, 255);
  text-align: center;
  padding: 0.7em 2em;
  margin: 0.1em 1em;
  border-radius: 14px;
  
}

.textbox{
  position: absolute;
  top: 30%;
  left: 5%;
  content: '';

}

h3{
    font-family: sans-serif;
    font-size: 1.7em;
    color: rgba(255, 254, 254, 0.842);
    font-weight: 100;
    letter-spacing: 1.5px;
}
h1{
    font-family: serif;
    font-size: 8em;
    color: rgb(255, 255, 255);
    text-align: left;
}
.book{
  font-family: sans-serif;
    margin: 19em 5%;
    width: 14%;
    background-color: rgb(70, 104, 255);
    color: white;
    font-size: 1.2em;
    padding: 0.5em 0;
    border-radius: 0.2em;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    a{
        text-decoration: none;
        color: white;
    }
    &:hover{
        opacity: .8;
    }
}

